.field{
  width: 300px;
  padding-bottom: 20px;
}

.colour-border{
  border: 2px solid darkgoldenrod;
  padding: 10px;
  border-radius: 20px;
}

.header{
  padding: 10px;
}

body{
  padding: 10px;
  background-color: lightblue;
}